.button {
  font: inherit;
  border: 1px solid #3d3c3c;
  background: #3d3c3c;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #4f4e4e;
  border-color: #4f4e4e;
}

.button:focus {
  outline: none;
}
